html{
    background:black;
}
h1{
    color: yellow;
    font-family: 'Caveat', cursive;
    font-family: 'Libre Baskerville', serif;
    font-size: 50px;
    text-align: center;
    text-transform: uppercase;
}
img{
    border: 5px solid yellow;
    width:100%
}
div{
    width: 50%;
    margin-left: 25%;
    margin-top: 40px;
}